# Voodoo Framework Environment Variables

# Database
# In development, leave commented to use `.data/voodoo.db`
# In production, set the absolute path where the persistent volume is mounted.
# VOODOO_DB_PATH=/var/lib/data/voodoo.db

# Storage
# Defines the folder where uploads and static files will be saved.
# Default: `storage`
# VOODOO_STORAGE_DIR=/var/lib/data/storage

# Web Server
# HOST=0.0.0.0
# PORT=8080
