# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

*.egg-info/

# Pytest caches
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
venv/
env/
.venv/
.env

# Local databases
.data/

# User-uploaded storage files
storage/public/*

# Build artifacts
dist/
build/
